version: '3.7'
services:
  build:
    image: roki/roki-web-env:1.0.0
    container_name: roki-web-build
    tty: true
    volumes:
      - "../contents:/root/roki-web/contents"
    ports:
      - "8888:8888"
    working_dir: /root/roki-web
    build:
      context: ../
      dockerfile: ./docker/contents/Dockerfile
    command: /bin/bash -c './site build --preview'
  preview:
    image: roki/roki-web-env:1.0.0
    container_name: roki-web-preview
    tty: true
    volumes:
      - "../contents:/root/roki-web/contents"
    ports:
      - "8888:8888"
    working_dir: /root/roki-web
    build:
      context: ../
      dockerfile: ./docker/contents/Dockerfile
    command: /bin/bash -c './site watch --preview'
  spa:
    image: roki/roki-web-env:1.0.0
    container_name: roki-web-spa
    tty: true
    volumes:
      - "../contents:/root/roki-web/contents"
      - "../.github:/root/roki-web/.github"
    working_dir: /root/roki-web
    build:
      context: ../
      dockerfile: ./docker/contents/Dockerfile
    command: /bin/bash -c './spa yaml -d ${DATE:-""} -b ${BRANCH_NAME:-""} -y'
  clean:
    image: roki/roki-web-env:1.0.0
    container_name: roki-web-clean
    tty: true
    working_dir: /root/roki-web
    build:
      context: ../
      dockerfile: ./docker/contents/Dockerfile
    command: /bin/bash -c './site clean'
  dev:
    image: roki/roki-web-dev:1.0.0
    container_name: roki-web-dev
    tty: true
    volumes:
      - "../:/opt/src"
    ports:
      - "8888:8888"
    working_dir: /opt/src
    build:
      context: ../
      dockerfile: ./docker/dev/Dockerfile
