@use "bulma/versions/bulma-no-dark-mode" as bl;
@use "base" as b;
@use "blog/mixins" as *;

$tooltip-color: white;

.footnotes {
    hr {
        border-top: 1px dotted #f5f5f5;
    }
}
    
.social-icon {
    a {
        color: bl.$grey-darker;
    }
    .social-icon-twitter:hover {
        color: b.$twitter-color;
    }
    .social-icon-facebook:hover {
        color: b.$facebook-color;
    }
    .social-icon-pocket:hover {
        color: b.$pocket-color;
    }
    .social-icon-line:hover {
        color: b.$line-color;
    }
}
     

article {
    .card {
        .card-content {
            section {
                h1 {
                    font-size: 2.5rem;
                    @extend .mt-5, .mb-3;
                    font-weight: normal;
                }
                h2 {
                    font-size: 1.8rem;
                    @extend .mt-5, .mb-3, .pb-1;
                    font-weight: normal;
                    border-bottom: solid 1px bl.$grey-lighter;
                }
                h3 {
                    font-size: 1.4rem;
                    @extend .mt-5, .mb-3;
                    font-weight: normal;
                }
                h4 {
                    @extend .mt-5, .mb-3;
                    font-weight: normal;
                }
                ul, ol {
                    list-style-position: outside;
                }
                table {
                    @extend .container, .table;
                }
                figure {
                    @extend .box, .has-text-centered, .is-shadowless, .mt-0, .mb-0;
                }
                @extend %math-system;
                .column-comment {
                    @extend .mt-4;
                    border: solid 2px bl.$grey-lighter;
                    border-radius: 12px;
                    @extend .p-3;
                    p {
                        font-weight: normal;
                        &:before {
                            @extend .mb-6;
                            @extend .is-size-5;
                            content: "\f27a\a0コラム\A";
                            font-family: FontAwesome;
                            white-space: pre;
                        }
                    }
                }
            }
        }
    }
}

.balloon-left {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    background-color: bl.$cyan;
    margin-left: 110px;
    .balloon-icon {
        position: absolute;
        left: -110px;
        top: 0;
        img {
            width: 65px;
        }
    }
    &::before{
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        left: -15px;
        top: 20px;
        border-right: 15px solid bl.$cyan;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }
}

.balloon-right {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    background-color: bl.$cyan;
    margin-right: 110px;
    .balloon-icon{
        position: absolute;
        right: -110px;
        top: 0;
        img {
            width: 65px;
        }
    }
    &::before{
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        right: -15px;
        top: 20px;
        border-left: 15px solid bl.$cyan;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }
}
