@use "bulma/versions/bulma-no-dark-mode" as bl;
@use "bulma/sass/helpers";

.disabled {
    color: bl.$grey-darker;
    pointer-events: none;
}

.comma-list {
    @extend .is-inline, .ml-0;
    list-style: none;
    padding: 0;

    & li {
        display: inline;
    }
    & li::after {
        content: ", ";
    }
    & li:last-child::after {
        content: "";
    }
}

.author-info-list {
    li {
        position: relative;
        padding-left: 1.5rem;
        margin-bottom: 0.5rem;
    }
    li i,
    li svg {
        position: absolute;
        left: 0;
        top: 0.1rem;
    }
}

#tab-content {
    .acontent {
        &.is-active {
            @extend .is-block;
        }
        display: none;
    }
}

/* for emgit css */
.hljs-ln {
    tbody {
        tr {
            td {
                border: none !important;
            }
        }
        background-color: #f8f8f8 !important;
    }
    margin: 0 !important;
}

.emgithub-container {
    margin: 0 !important;
    code {
        .hljs {
            margin: 0;
            padding: 0;
        }
    }
}
/* for emgit css */
