<div class="has-text-centered">
<ul class="is-unstyled mb-0 fa-ul is-inline-block">
    <li class="has-text-left"><span class="fa-li"><i class="fas fa-male fa-fw" aria-hidden="true"></i></span>$author-sex$</li>
    <li class="has-text-left"><span class="fa-li"><i class="fas fa-info fa-fw" aria-hidden="true"></i></span>$author-job$</li>
    <li class="has-text-left"><span class="fa-li"><i class="fas fa-map-marker fa-fw" aria-hidden="true"></i></span>$author-locale$</li>
    <li class="has-text-left"><span class="fa-li"><i class="fas fa-code-branch fa-fw"></i></span><a class="modal-target" data-target="modal-contributions">Contributions</a></li>
    <li class="has-text-left"><span class="fa-li"><i class="fas fa-tags fa-fw" aria-hidden="true"></i></span>
        <span class="has-tooltip-arrow
                has-tooltipl-multiline 
                has-tooltip-text-left 
                has-tooltip-bottom" 
                data-tooltip="$author-interested$">
            Interested in…
             
        </span>
    </li>
    <li class="has-text-left"><span class="fa-li"><i class="fas fa-heart fa-fw" aria-hidden="true"></i></span>$author-fav$</li>
    <li class="has-text-left"><span class="fa-li"><i class="fas fa-coins fa-fw"></i></span><a class="modal-target" data-target="modal-donate">Donate</a></li>
    <li class="has-text-left">$partial("contents/templates/site/author-info/more-links.html")$</li>
</ul>
</div>
