<div class="is-flex is-align-items-center is-justify-content-center"
<ul class="is-unstyled mt-0 mb-0 is-inline-block">
    <li><i class="fas fa-person fa-fw mr-2" aria-hidden="true"></i>$author-sex$</li>
    <li><i class="fas fa-info fa-fw mr-2" aria-hidden="true"></i>$author-job$</li>
    <li><i class="fas fa-map-pin fa-fw mr-2" aria-hidden="true"></i>$author-locale$</li>
    <li><i class="fas fa-note-sticky fa-fw mr-2" aria-hidden="true"></i><a href="/resume/jp.html">Resume</a></li>
    <li><i class="fas fa-code-branch fa-fw mr-2"></i><a class="modal-target" data-target="modal-contributions">Contributions</a></li>
    <li><i class="fas fa-tags fa-fw mr-2" aria-hidden="true"></i><span class="has-tooltip-arrow has-tooltipl-multiline has-tooltip-text-left has-tooltip-bottom" data-tooltip="$author-interested$">Interested in…</span></li>
    <li><i class="fas fa-heart fa-fw mr-2" aria-hidden="true"></i>$author-fav$</li>
    <li><i class="fas fa-coins fa-fw mr-2"></i><a class="modal-target" data-target="modal-donate">Donate</a></li>
    <li>$partial("contents/templates/site/author-info/more-links.html")$</li>
</ul>
</div>
