<ul class="is-unstyled mb-0">
    <li><i class="fas fa-male fa-fw mr-2" aria-hidden="true"></i>$author-sex$</li>
    <li>
        <i class="fas fa-info fa-fw" aria-hidden="true"></i>
        $author-job$
    </li>
    <li><i class="fas fa-map-marker fa-fw mr-2" aria-hidden="true"></i>$author-locale$</li>
    <li>
        <i class="fas fa-code-branch fa-fw"></i> 
        <a class="modal-target" data-target="modal-contributions">
            Contributions
        </a>
    </li>
    <li>
        <i class="fas fa-tags fa-fw" aria-hidden="true"></i>
        <span class="has-tooltip-arrow
                has-tooltipl-multiline 
                has-tooltip-text-left 
                has-tooltip-bottom" 
                data-tooltip="$author-interested$">
            Interested in…
             
        </span>
    </li>
    <li><i class="fas fa-heart fa-fw mr-2" aria-hidden="true"></i>$author-fav$</li>
    <li>
        <i class="fas fa-coins fa-fw"></i>
        <a class="modal-target" data-target="modal-donate">
            Donate
        </a>
    </li>
</ul>
<ul class="is-unstyled social-links">
    <li class="mt-0 mr-1">
        <a href="https://github.com/$author-github$">
            <i class="fab fa-github fa-fw"></i>
        </a>
    </li>
    <li class="mt-0 mr-1">
        <a class="social-icon-twitter" href="https://twitter.com/$author-twitter$">
            <i class="fab fa-twitter fa-fw"></i>
        </a>
    </li>
    <li class="mt-0 mr-1">
        <a class="social-icon-zenn" href="https://zenn.dev/roki"> <!-- TODO: out the settings -->
            <i class="fas fa-wave-square fa-fw"></i>
        </a>
    </li>
    <li>
    <li class="mt-0 mr-1">
        <a class="social-icon-note" href="https://note.com/$author-note$/">
            <i class="fas fa-sticky-note fa-fw"></i>
        </a>
    </li>
</ul>
$partial("contents/templates/site/author-info/more-links.html")$
