<em onclick="openLink()">
    <a style="font-style: normal; cursor:pointer;">
        <p style="color: #363636;">
            <i class="fas fa-link fa-fw mr-2" aria-hidden="true"></i><span style="border-bottom: dashed 1px #dedede;">And more Links…</span>
        </p>
    </a>
</em>
<div class="open_links" style="display:none; clear:both;">
    <ul class="is-unstyled m-0 p-0" style="list-style: none;">
        <li>
            <i class="fab fa-tumblr fa-fw mr-2"></i>
            <a href="https://$author-tumblr$.tumblr.com/">tumblr</a>
        </li>
        <li>
            <i class="fab fa-reddit fa-fw mr-2"></i>
            <a href="https://www.reddit.com/user/$author-reddit$">Reddit</a>
        </li>
        <li>
            <i class="fab fa-stack-overflow fa-fw mr-2"></i>
            <a href="https://stackoverflow.com/users/$author-stackoverflow$">Stack Overflow</a>
        </li>
        <li>
            <i class="fab fa-steam fa-fw mr-2"></i>
            <a href="https://steamcommunity.com/id/$author-steam$">Steam</a>
        </li>
        <li>
            <i class="fas fa-globe fa-fw mr-2"></i>
            <a href="https://yukicoder.me/users/$author-yukicoder$">yukicoder</a>
        </li>
        <li>
            <i class="fas fa-globe fa-fw mr-2"></i>
            <a href="https://teratail.com/users/$author-teratail$">teratail</a>
        </li>
        <li>
            <i class="fas fa-box-archive fa-fw mr-2"></i>
            <a href="https://falgon.github.io/roki.log/">old blog: falgon.github.io/roki.log</a>
        </li>
        <li>
            <i class="fas fa-box-archive fa-fw mr-2"></i>
            <a href="https://roki.hateblo.jp/">old old blog: Rokiのチラ裏</a>
        </li>
        <li>
            <i class="fas fa-globe fa-fw mr-2"></i>
            <a href="https://www.haskellers.com/user/5315">
                <img src="https://www.haskellers.com/static/badge.png" alt="I'm a Haskeller">
            </a>
        </li>
    </ul>
</div>
