<div class="column is-one-third">
<div class="card is-shadowless">
  <div class="card-image">
    <figure class="image">
      <picture>
        <source type="image/webp" class="blured-my-prof-webp" srcset="/images/avator/prof1000x1000.png.webp" />
        <img class="blured-my-prof" />
      </picture>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content" style="overflow: visible;">
        <div class="mb-3" style="display: flex; align-items: stretch;"> <!-- TODO: out the settings -->
            <p class="title mb-1" id="my_name">$author-name$</p>
            <ul class="is-unstyled social-links">
                <li class="mt-0 mr-1">
                    <a href="https://github.com/$author-github$">
                        <i class="fab fa-github fa-fw"></i>
                    </a>
                </li>
                <li class="mt-0 mr-1">
                    <a class="social-icon-twitter" href="https://twitter.com/$author-twitter$">
                        <i class="fab fa-x-twitter fa-fw"></i>
                    </a>
                </li>
                <li class="mt-0 mr-1">
                    <a class="social-icon-zenn" href="https://zenn.dev/roki">
                        <!-- TODO: out the settings -->
                        <i class="fas fa-wave-square fa-fw"></i>
                    </a>
                </li>
                <li class="mt-0 mr-1">
                    <a class="social-icon-note" href="https://note.com/$author-note$/">
                        <i class="fas fa-sticky-note fa-fw"></i>
                    </a>
                </li>
            </ul>
        </div>
        $partial("contents/templates/site/author-info/listed.html")$
      </div>
    </div>
  </div>
</div>
</div>
