@use "bulma/versions/bulma-no-dark-mode";
@use "style";

.navbar {
    background: transparent;
    @extend .is-dark;
    font-family: 'Ubuntu Mono', 'Noto Sans JP', sans-serif !important;
}

.navbar-brand a:hover {
    color: #4a4a4a;
}

body {
    font-family: 'Noto Serif JP', serif !important;
}
