name: CI-pr-label
on:
  pull_request_target:
    types: 
      - opened
jobs:
  label:
    if: github.repository == 'roki/roki-web'
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Labeling
        uses: actions/labeler@v5
        with:
          configuration-path: .github/pr-labeler.yml
          sync-labels: true
