name: manually-PSI
on:
  workflow_dispatch:
    inputs:
      sp_threshold:
        description: 'Smart phone threshold'
        required: true
        default: '65'
      pc_threshold:
        description: 'PC threshold'
        required: true
        default: '90'
      locale:
        description: 'Locale'
        required: true
        default: 'ja_JP'
jobs:
  check_psi:
    runs-on: ubuntu-24.04
    if: github.repository == 'falgon/roki-web'
    steps:
    - uses: actions/checkout@v4
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version-file: '.nvmrc'
    - name: Install tools (apt)
      uses: awalsh128/cache-apt-pkgs-action@v1
      with:
        packages: jq bc
        version: 1.0
    - name: Get page insights
      env:
        PAGESPEED_API_KEY: ${{ secrets.PAGESPEED_API_KEY }}
      run: |
        readonly TARGET_URL=https://$(cat CNAME)
        set +e
        bash tools/pagespeed-check.sh $TARGET_URL mobile ${{ github.event.inputs.locale }} ${{ github.event.inputs.sp_threshold }}
        bash tools/pagespeed-check.sh $TARGET_URL desktop ${{ github.event.inputs.locale }} ${{ github.event.inputs.pc_threshold }}
        set -e
